* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #252525;
}

p {
  margin: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.loading {
  margin: 0 auto;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

li {
  list-style-type: none;
  text-decoration: none;
}

.add-form {
  margin: 0 auto;
  width: 600px;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 0;
  appearance: none;
  margin-bottom: 20px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.label {
  display: block;
  margin-bottom: 0.25em;
  font-size: 20px;
}

.input {
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: lightgray;
  background-color: white;
  font-size: 18px;
}

.input:focus {
  border-color: gray;
}
